a:visited { 
    text-decoration:none; 
    color: rgb(81, 131, 238);
   }
body {
    background-color: crimson;
}
.txt1{
    text-align: center;
}
.subtxt{
    text-align: center;
}
.image0 img{
    display: block;
    width: 20%;
    position: absolute;
    bottom:20px;
    right: 20px;
}
.image img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.bloco{
    position: absolute;
    bottom: -110px;
    right: 690px;
    color:red;
    padding-left:  20px;
    padding-right: 20px;

}
.blocktxt{
    font-family:Arial, Helvetica, sans-serif;
}
